@use "../abstracts/" as *;

.main.board {
	padding: 2rem 5%;

	.header {
		@include flexAllRow;
		justify-content: space-between;

		.wrapper {
			@include flexAllRow;
			gap: 1rem;

			.timer {
				@include flexAllCol;
				align-items: flex-start;

				.start {
					background: white;
					outline: none;
					border: none;
					padding: 1rem;
					border-radius: 1rem;
					cursor: pointer;

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			.logo {
				height: 10rem;
			}
		}
	}

	.board {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(7, 1fr);
		align-items: center;
		justify-items: center;
		margin: 2rem auto;
		gap: 2rem;
		height: 6.25rem;
		aspect-ratio: 1;
		height: 100vh;

		.item {
			position: relative;

			&.xl {
				@include flexAllCol;
				height: 10rem;
				aspect-ratio: 1;
				height: 8rem;
				background: #333;
				border-radius: 1rem;

				.special {
					font-size: $font-md;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			.board-image {
				height: 6.25rem;
				aspect-ratio: 1;
				border-radius: 1rem;
			}

			.tokens {
				background: lighten($color: #333, $amount: 10);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: $font-sm;
				border-radius: 1rem;
				opacity: 0.9;
				text-align: center;
				z-index: 2;

				.token {
					background: var(--team-colour);
					text-transform: uppercase;
					font-weight: bold;
					border-radius: 1rem;
					padding: 0.5rem;
				}
			}
		}
	}

	.leaderboard {
		position: fixed;
		top: 2rem;
		right: 2rem;
		background: lighten($color: #333, $amount: 10);
		border-radius: 1rem;
		padding: 1rem;
		z-index: 2;

		.row {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			align-items: center;
			justify-items: center;
			margin: 0.3rem 0;

			.name {
				background: var(--team-colour);
				padding: 0.3rem;
				border-radius: 1rem;
				width: 100%;
			}
		}

		button {
			background: white;
			height: 2rem;
			aspect-ratio: 1;
			outline: none;
			border: none;
			border-radius: 50%;
			cursor: pointer;

			&:hover {
				background: rgb(210, 210, 210);
			}
		}
	}
}
