@use "../abstracts/" as *;

.main.board {
	padding: 2rem 5% 4rem;
	transform: scale(0.8) translateX(-15rem);

	.header {
		@include flexAllRow;
		justify-content: space-evenly;

		.wrapper {
			@include flexAllRow;
			gap: 1rem;

			.timer {
				@include flexAllCol;
				align-items: flex-start;
			}

			.buttons {
				@include flexAllRow;
				gap: 1rem;

				.start {
					background: none;
					outline: none;
					border: none;
					border-radius: 1rem;
					cursor: pointer;
					@include flexAllRow;

					.icon {
						font-size: 2.5rem;
						fill: white;
					}

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			.new {
				background: white;
				padding: 1rem;
				outline: none;
				border: none;
				border-radius: 1rem;
				cursor: pointer;
				@include flexAllRow;

				&:hover {
					transform: scale(1.1);
				}
			}

			.logo {
				height: 10rem;
				aspect-ratio: 1;
			}
		}
	}

	.board {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(7, 1fr);
		align-items: center;
		justify-items: center;
		margin: 2rem auto;
		gap: 2rem;
		height: 100vh;

		.item {
			position: relative;
			pointer-events: none;
			user-select: none;

			&.xl {
				@include flexAllCol;
				height: 8rem;
				aspect-ratio: 1;
				background: $grey;
				border-radius: 1rem;

				.special {
					font-size: $font-md;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			.board-image {
				height: 6.25rem;
				aspect-ratio: 1;
				border-radius: 1rem;
			}

			.tokens {
				background: lighten($color: $grey, $amount: 10);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: $font-sm;
				border-radius: 1rem;
				opacity: 0.9;
				text-align: center;
				z-index: 2;
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				.token {
					background: var(--team-colour);
					text-transform: uppercase;
					font-weight: bold;
					border-radius: 1rem;
					padding: 0.5rem;
				}
			}
		}
	}

	.white {
		border-radius: 1rem;
		background: white;
		padding: 0.2rem;
		color: black;
	}
}
